//$txt-color: #17b58f;
$bg-color: #cf3340;

$browser-default-font-size: 75px !default;
;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}

$padding-size: pr(30px);

input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #666666;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #666666;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #666666;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #666666;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
  appearance: none;
}

input, textarea, select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
}

option {
  text-indent: 1em;
  font-family: '微软雅黑';
}

input[type='text'] {
  border: none;
  text-indent: 1em;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，水平居中
.space-around {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* 圆点 */
%point-a {
  &:before {
    content: "";
    @extend %in-b;
    width: pr(6px);
    height: pr(6px);
    border-radius: 50%;
    background-color: $bg-color;
    vertical-align: middle;
    margin-right: pr(8px);
  }
}

html, body, div, a, p, span, ul, li, input {
  box-sizing: border-box;
}

.wrap {
  width: pr(750px);
  margin: 0 auto;
  overflow-x: hidden;
}

.zx-head{
  .head-bar{
    height: pr(88px);
    border-bottom: pr(2px) solid #ebebeb;
    @extend .space-between;
    .bar-l{
      margin-left: pr(20px);
      display: flex;
      .l-logo{
        width: pr(126px);
        height: pr(40px);
      }
      .l-subtitle{
        font-size: pr(26px);
        line-height: pr(39px);
        color: #333333;
        margin-left: pr(23px);
      }
    }
    .bar-r{
      margin-right: pr(10px);
      display: flex;
      align-items: center;
      .r-icon{
        @extend %in-b;
        width: pr(24px);
        height: pr(27px);
        background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/icon_1.png") no-repeat;
        background-size: 100% 100%;
        margin-right: pr(7px);
      }
      .r-btn{
        @extend %in-b;
        font-size: pr(22px);
        line-height: pr(22px);
        color: #666666;
      }
    }
  }
  .head-yy{
    width: pr(750px);
    padding: pr(32px) pr(11px) pr(32px) pr(20px);
    background-color: #ffffff;
    @extend .space-between;
    .yy-l{
      .l-title{
        width: pr(320px);
        font-size: pr(30px);
        line-height: pr(39px);
        color: #333333;
        @extend %one;
      }
      .l-time{
        font-size: pr(22px);
        line-height: pr(39px);
        color: #999999;
        .icon1{
          @extend %in-b;
          width: pr(20px);
          height: pr(20px);
          background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/icon_3.png") no-repeat;
          background-size: 100% 100%;
          margin-right: pr(9px);
        }
        .icon2{
          @extend %in-b;
          width: pr(22px);
          height: pr(18px);
          background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/icon_4.png") no-repeat;
          background-size: 100% 100%;
          margin-right: pr(8px);
          margin-left: pr(21px);
        }
      }
    }
    .yy-r{
      @extend %in-b;
      width: pr(144px);
      height: pr(51px);
    }
  }
}

/* 课程 */
.zx-kc{
  padding: $padding-size;
  background-color: #f3f3f3;
  .kc-item{
    background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/course.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: pr(25px);
    &:last-child{
      margin-bottom: 0;
    }
    &.new{
      background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/course-new.png") no-repeat;
      background-size: 100% 100%;
    }
    .item-title{
      font-size: pr(30px);
      line-height: pr(47px);
      color: #333333;
      padding: pr(24px) pr(58px) pr(19px) pr(82px);
    }
    .item-row{
      margin-left: pr(75px);
      margin-bottom: pr(30px);
      span{
        @extend %in-b;
        padding: 0 pr(12px);
        height: pr(40px);
        line-height: pr(40px);
        background-color: #ffffff;
        border-radius: pr(4px);
        border: solid 1px $bg-color;
        color: $bg-color;
        text-align: center;
        margin-right: pr(14px);
      }
    }
    .item-price{
      font-size: pr(24px);
      line-height: pr(47px);
      color: #666666;
      margin-left: pr(75px);
      margin-bottom: pr(20px);
      span{
        font-size: pr(38px);
        color: $bg-color;
        margin-right: pr(18px);
      }
    }
    .item-period{
      line-height: pr(47px);
      font-size: pr(24px);
      @extend .space-between;
      margin: 0 $padding-size;
      padding-top: pr(13px);
      padding-bottom: pr(17px);
      border-top: pr(7px) solid #f3f3f3;
      .period-l{
        color: #666666;
      }
      .period-r{
        color: $bg-color;
        .r-btn{
          @extend %in-b;
          height: pr(50px);
          line-height: pr(50px);
          background-image: linear-gradient(-12deg,
              #cf3340 0%,
              #db535f 100%);
          box-shadow: 0px pr(8px) pr(15px) 0px
          rgba(207, 51, 64, 0.42);
          border-radius: pr(7px);
          padding: 0 pr(22px);
          color: #ffffff;
          font-size: pr(26px);
          margin-left: pr(30px);
        }
      }
    }
  }
}

/* 优惠券 */
.coupon{
  background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/coupon.png") no-repeat;
  background-size: 100% 100%;
  padding: pr(130px) pr(184px) pr(122px) pr(172px);
  .coupon-detail{
    @extend .space-between;
    .detail-l{
      .l-price{
        @extend %in-b;
        font-size: pr(80px);
        line-height: pr(80px);
        color: #ff5f20;
        margin-left: pr(30px);
        font-weight: bold;
      }
      .l-hint{
        font-size: pr(26px);
        line-height: pr(47px);
        color: #c29b8c;
        span{
          color: #ff5f20;
        }
      }
    }
    .detail-r{
      line-height: pr(47px);
      .r-use{
        @extend %in-b;
        font-size: pr(50px);
        color: #ff5f20;
        margin-bottom: pr(16px);
      }
      .r-btn{
        display: block;
        width: pr(152px);
        height: pr(40px);
        line-height: pr(40px);
        background-image: linear-gradient(-46deg,
            #ff5f20 0%,
            #ff9971 100%);
        box-shadow: 0px pr(4px) pr(9px) 0px
        rgba(255, 95, 32, 0.28);
        border-radius: pr(8px);
        text-align: center;
        color: #ffffff;
        font-size: pr(26px);
      }
    }
  }
}

/* 课程规划 */
.kc-plan{
  background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/course-plan.png") no-repeat;
  background-size: 100% 100%;
  padding: pr(512px) pr(46px) pr(38px);
  .plan-btn{
    @extend %in-b;
    width: 100%;
    height: pr(70px);
    line-height: pr(70px);
    background-image: linear-gradient(-12deg,
        #cf3340 0%,
        #db535f 100%);
    box-shadow: 0px pr(8px) pr(15px) 0px
    rgba(207, 51, 64, 0.42);
    border-radius: pr(7px);
    text-align: center;
    color: #ffffff;
    font-size: pr(34px);
  }
}

/* 系统 */
.system{
  padding: pr(76px) $padding-size 0;
  .system-title{
    font-size: pr(38px);
    line-height: pr(47px);
    color: #333333;
    text-align: center;
    margin-bottom: pr(45px);
    .title-icon{
      @extend %in-b;
      width: pr(70px);
      height: pr(43px);
      background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/icon_5.png") no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: pr(12px);
    }
    .subtitle{
      font-size: pr(28px);
      line-height: pr(47px);
      color: #666666;
    }
  }
  .system-bg{
    height: pr(167px);
  }
  .system-cont{
    .cont-row{
      display: flex;
      align-items: center;
      padding: $padding-size pr(20px);
      border-bottom: 1px solid #e6e6e6;
      &:last-child{
        border-bottom: 0;
      }
      .row-icon{
        width: pr(80px);
        height: pr(80px);
        margin-right: pr(20px);
      }
      .row-title{
        font-size: pr(38px);
        line-height: pr(47px);
        color: #333333;
        margin-right: pr(15px);
      }
      .row-detail{
        width: pr(443px);
        font-size: pr(26px);
        line-height: pr(40px);
        color: #666666;
        @include ells(2);
      }
    }
  }
}

/* 多重班 */
.dcb{
  height: pr(98px);
  display: flex;
  justify-content: center;
  align-items: center;
  .dcb-cont{
    font-size: pr(36px);
    font-weight: bold;
    line-height: pr(39px);
    color: #ffffff;
    .cont-bold{
      @extend %in-b;
      height: pr(41px);
      line-height: pr(40px);
      padding: 0 pr(13px);
      background-color: #ffdb83;
      color: #749fe2;
      border-top-left-radius: pr(18px);
      border-bottom-left-radius: pr(18px);
      border-top-right-radius: pr(18px);

    }
  }
}

/* 跨年班 */
.knb{
  padding: $padding-size;
  .knb-item{
    margin-bottom: pr(33px);
    .item-title{
      width: pr(392px);
      height: pr(83px);
      line-height: pr(83px);
      background-image: linear-gradient(-58deg,
          #cc944b 0%,
          #dbb788 100%);
      box-shadow: pr(4px) pr(3px) pr(29px) 0px
      rgba(206, 153, 84, 0.3);
      border-radius: pr(20px) pr(20px) 0px 0px;
      margin: 0 auto;
      font-size: pr(36px);
      color: #ffffff;
      text-align: center;
    }
    .item-cont{
      height: pr(464px);
      border-radius: pr(13px);
      border: solid 1px #e6e6e6;
      .cont-row{
        padding: pr(20px) 0;
        display: flex;
        margin: 0 pr(18px) 0 pr(20px);
        border-bottom: 1px solid #e7e7e7;
        .row-l{
          font-size: pr(26px);
          line-height: pr(39px);
          color: #333333;
          white-space: nowrap;
          margin-right: pr(20px);
        }
        .row-r{
          width: pr(520px);
          font-size: pr(26px);
          line-height: pr(39px);
          color: #666666;
          p{
            line-height: pr(39px);
          }
          span{
            margin-right: pr(20px);
          }
          strong{
            font-weight: normal;
            color: $bg-color;
          }
        }
      }
      .cont-btn{
        margin-top: pr(33px);
        text-align: center;
        a{
          @extend %in-b;
          //width: pr(177px);
          height: pr(59px);
          line-height: pr(58px);
          background-color: #ffffff;
          border-radius: pr(6px);
          border: solid 1px $bg-color;
          font-size: pr(26px);
          color: $bg-color;
          margin: 0 10px;
          padding: 0 pr(30px);
        }
      }
    }
    &:nth-of-type(2){
      .item-title{
        background-image: linear-gradient(-58deg,
            #3055b3 0%,
            #5675c5 100%);
        box-shadow: pr(4px) pr(3px) pr(29px) 0px
        rgba(55, 90, 182, 0.3);
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/* 限购 */
.xg{
  .xg-cont{
    height: pr(88px);
    margin: 0 $padding-size;
    background: url("https://img.thea.cn/public/platform/thea/201909/hbj/wx-zxzd/images/bg_2.png") no-repeat center;
    background-size: 100% 100%;
    @extend .space-around;
    .xl{
      font-size: pr(30px);
      line-height: pr(39px);
      color: #ffffff;
      font-weight: bold;
    }
    .zs{
      font-size: pr(30px);
      line-height: pr(39px);
      color: #ffd59d;
      .strong{
        font-weight: bold;
      }
    }
    .cont-btn{
      height: pr(47px);
      line-height: pr(47px);
      background-color: #ffffff;
      border-radius: pr(24px);
      font-size: pr(26px);
      color: $bg-color;
      text-align: center;
      padding: 0 pr(16px);
    }
  }
}

/* 课程和课件 */
.kc-kj{
  padding: pr(50px) $padding-size $padding-size;
  .kc-kj-title{
    font-size: pr(34px);
    line-height: pr(39px);
    color: #333333;
    text-align: center;
    margin-bottom: pr(38px);
  }
  .kc-kj-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: pr(26px);
    grid-row-gap: pr(30px);
    margin-bottom: pr(46px);
    .cont-item{
      //width: pr(332px);
      .item-title{
        font-size: pr(26px);
        line-height: pr(39px);
        color: #333333;
        @extend %one;
        padding-top: pr(10px);
      }
      .item-row{
        @extend .space-between;
        .row-l{
          font-size: pr(22px);
          line-height: pr(39px);
          color: #666666;
        }
        .row-btn{
          @extend %in-b;
          height: pr(35px);
          line-height: pr(35px);
          border-radius: pr(6px);
          border: solid 1px $bg-color;
          padding: 0 pr(10px);
          color: $bg-color;
          font-size: pr(22px);
        }
      }
    }
  }
  .kc-kj-btn{
    @extend %in-b;
    width: 100%;
    height: pr(70px);
    line-height: pr(70px);
    background-color: #ffebeb;
    border-radius: pr(7px);
    font-size: pr(28px);
    color: $bg-color;
    text-align: center;
  }
}

/* 教学团队 */
.team{
  padding: pr(20px) $padding-size $padding-size;
  .team-title{
    font-size: pr(34px);
    line-height: pr(50px);
    color: #333333;
    text-align: center;
    margin-bottom: pr(30px);
    span{
      display: block;
    }
  }
  .team-item{
    background-color: #ffffff;
    border-radius: pr(21px);
    border: solid 1px #e6e6e6;
    padding: $padding-size pr(18px) $padding-size pr(20px);
    @extend .space-between;
    margin-bottom: pr(26px);
    .item-l{
      width: pr(214px);
      height: pr(214px);
      margin-right: pr(25px);
    }
    .item-r{
      flex: 1;
      .r-name{
        font-size: pr(24px);
        line-height: pr(34px);
        color: #888888;
        margin-bottom: pr(20px);
        span{
          @extend %in-b;
          font-size: pr(32px);
          line-height: pr(30px);
          color: #333333;
          border-bottom: pr(7px) solid #db545e;
        }
      }
      .r-p{
        font-size: pr(24px);
        line-height: pr(35px);
        color: #666666;
        @include ells(3);
        margin-bottom: pr(16px);
      }
      .r-btn{
        @extend %in-b;
        width: pr(199px);
        height: pr(50px);
        background-image: linear-gradient(-12deg,
            #cf3340 0%,
            #db535f 100%);
        box-shadow: 0px pr(8px) pr(15px) 0px
        rgba(207, 51, 64, 0.42);
        border-radius: 7px;
        font-size: pr(26px);
        line-height: pr(47px);
        color: #ffffff;
        text-align: center;
      }
    }
  }
}
/* 网校服务 */
.serve{
  padding: 0 $padding-size $padding-size;
  .serve-title{
    font-size: pr(34px);
    line-height: pr(50px);
    color: #333333;
    text-align: center;
    margin-bottom: pr(30px);
    span{
      display: block;
    }
  }
  .serve-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: pr(18px);
    grid-row-gap: pr(22px);
    .cont-item{
      background-color: #ffffff;
      box-shadow: 0px pr(9px) pr(29px) 0px
      rgba(70, 75, 105, 0.22);
      border-radius: pr(4px) pr(27px) pr(4px) pr(4px);
      padding: pr(27px) pr(10px) pr(27px) pr(27px);
      display: flex;
      align-items: center;
      .item-l{
        width: pr(66px);
        margin-right: pr(17px);
      }
      .item-r{
        flex: 1;
        .r-title{
          font-size: pr(30px);
          line-height: pr(44px);
          color: #444444;
        }
        .r-p{
          font-size: pr(24px);
          line-height: pr(44px);
          color: #666666;
        }
      }
    }
  }
}